<html>
<head>
		

	<link rel="stylesheet" href="static/semantic.css">
	<script src= "static/semantic.js"></script>
    <meta charset="utf-8">
    <title>BlockSit</title>
</head>
<body>
<div class="ui top menu">
  <div class="item">
    <img src="/static/logo.png">
  </div>
  <a class="item" href="/">Main</a>
  <a class="item" href="/games">Games</a>
  <a class="item" href="/">Sign-in</a>
</div> 
    {{{body}}}
 
</body>
</html>