<html>
<head>
		

	<link rel="stylesheet" href="static/semantic.css">
	<script src= "static/semantic.js"></script>
    <meta charset="utf-8">
    <title>BlockSit</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>