{{#if helpers.alertEnabled}}
<script>document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    var $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});</script>
 <div class="notification is-warning">
  <button class="delete"></button>
{{helpers.alertinfo}}
</div>
{{/if}}

