{{#if helpers.alertEnabled}}
 <div class="notification is-warning">
  <button class="delete"></button>
{{helpers.alertinfo}}
</div>
{{/if}}



{{#for game in games}}
 {{{game.title}}}
{{/endfor}}
game1