<h1> We are under maintanence, check later! </h1>
{{#if helpers.alertEnabled}}
<div class="ui icon message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
	    {{helpers.alertTitle}}
    </div>
    <p>{{helpers.alertinfo}}</p>
  </div>
</div>
{{/if}}


